platforms:
  '*':
    '*':
      'overflow': 'hidden'
      'margin': 0
      'vertical-align': 'top'
    components:
      '*':
        variations:
          'large':
            'line-height': '1.3rem'
          'cta':
            'font-weight': 500
      'button':
        '*':
        variations:
          'quiet':
          'large':
          'cta':
        states:
      'radio':
        '*':
          'offset': '-109px'
          'width': '37px'
          'background-size': './width'
          'height': '31px'
          'line-height': './height'
          'margin': '15px'
        states:
          'checked':
            'offset': '-74px'
      'overlay':
        nested:
          'title':
            'font-size': '1.5rem'
          'bg':
            'background-color': 'rgba(88, 90, 92, 0.7)'
            'box-shadow': 'inset 0px 0px 115px 0px #000000'
      'textarea':
        variations:
          'large':
            'font-size': '1.3rem'
      'switch':
        '*':
          nested:
            'label':
              variations:
                'left':
                  'content': 'ON'
                'right':
                  'content': 'OFF'
            'toggle':
              'margin-bottom': '-1px';
              'margin-top': '-1px';
              'transition': 'margin-left 0.05s ease-in-out'
      'notification':
        'padding': '0.15em 0.5em 0.2em'
        'margin': '5px'
        'border-radius': '2px'
        'color': '#fff'
  'desktop':
    '*':
      'base-font-size': '12px'
      'font-size': '1rem'
      'font-weight': '400'
      'letter-spacing': 0
      'border-radius': '4px'
      'padding': '0.25rem 0.75rem'
      'height': '1.313rem'
      'line-height': './height'
    variations:
      'large':
        'font-size': '1.16rem'
        'font-weight': 600
        'border-radius': '15px'
        'padding': '0.28rem 1.16rem'
        'height': '1.688rem'
        'line-height': './height'
      'huge':
        'border-radius': '25px'
    components:
      'icon':
        '*':
          'size': '0.81406rem'
          'top': '-1px'
        variations:
          'large':
            'size': '1.06344rem'
            'top': '-2px'
      'icon-button':
        'padding': '0 0.25rem'
      'navigation-bar':
        'padding': '1rem'
      'list':
        nested:
          'header':
            'padding': '0.3rem 1.6rem'
            'font-size': '.9em'
            'font-weight': {platform: 'desktop', prop: 'font-weight'}
          'item':
            'padding': '1.16rem'
      'textarea':
        'font-size': '1rem'
        'padding': '1rem'
      'checkbox':
        '*':
          'size': '1rem'
          'border-radius': '3px'
        nested:
          'checkmark':
            'top': '2px'
            'left': '1px'
            'border-radius': '1px'
            'border-width': '3px'
            'transform': 'rotate(-50deg)'
          'tail':
            'width': '14px'
          'foot':
            'height': '4px'
      'radio-button':
        '*':
          'size': '1.063rem'
          'border': '1px solid rgba(0,0,0,0.1)'
          'background': '#666666'
          'box-shadow': '0 1px rgba(255,255,255,0.50)'
        states:
          'checked'
            'size': '0.313rem'
            'position': '0.313rem'
      'range':
        nested:
          'thumb':
            'width': '0.75rem'
          'track':
            'height': '0.5rem'
      'search-input':
        '*':
          'padding': '0 0 0 1.3rem'
        variations:
          'large':
            'padding': '0 0 0 1.8rem'
      'switch':
        '*':
          'width': '3.5rem'
        nested:
          'label':
            '*':
              'width': '2.6rem'
            variations:
              'left':
                'right': '0.8rem'
                'padding-left': '0.75rem'
              'right':
                'left': '0.8rem'
                'padding-left': '0.6rem'
          'toggle'
            '*':
              'width': '1rem'
              'margin-left': '-0.6rem'
            states:
              'checked':
                'margin-left': '1.85rem'
      'select'
        'padding': '.06rem 1.4rem .06rem 0.4rem'
      'overlay':
        '*'
          'padding': '1.6rem'
          'max-width': '50%'
        nested:
          'title':
            'padding': '0rem 0 1rem'
  'mobile':
    '*':
      'base-font-size': '16px'
      'font-size': '1rem'
      'font-weight': '400'
      'letter-spacing': '1px'
      'border-radius': '6px'
      'padding': '0 1.25rem'
      'height': '3rem'
      'line-height': './height';
    variations:
      'large':
        'font-size': '1.3rem'
        'font-weight': {platform: 'mobile', prop: 'font-weight'}
        'border-radius': '30px'
        'padding': {platform: 'mobile', prop: 'padding'}
        'height': '4.375rem'
        'line-height': './height'
      'huge':
        'border-radius': '40px'
    components:
      'overlay':
        '*':
          'padding': '1rem'
          'max-width': '80%'
        nested:
          'title':
            'font-size': {platform: 'mobile', variation: 'large', prop: 'font-size'}
            'padding': '0 0 1.2rem'
      'textarea':
        '*':
          'padding': '2rem'
          'font-size': '2.5rem'
        variations:
          'large':
            'font-size': '3rem'
      'icon':
        '*'
          'size': '1.62rem'
          'top': '-1px'
        variations:
          'large':
            'size': '2.5rem'
            'top': '-2px'
      'icon-button':
        'padding': '0 0.75rem'
      'navigation-bar':
        'padding': '1rem'
      'list':
        nested:
          'header':
            'padding': '4px 20px'
            'font-size': '.9em'
            'font-weight': {platform: 'mobile', prop: 'font-weight'}
          'item':
            'padding': '1.25rem'
      'checkbox':
        '*':
          'size': '2rem'
          'border-radius': '3px'
        nested:
          'checkmark':
            'top': '1px'
            'left': '2px'
            'border-radius': '2px'
            'border-width': '7px'
            'transform': 'rotate(-50deg)'
          'tail':
            'width': '28px'
          'foot':
            'height': '11px'
      'radio-button':
        '*':
          'size': '1.875rem'
        states:
          'checked':
            'size': '0.875rem'
            'position': '7px'
      'range':
        nested:
          'thumb': '2rem'
          'track': '1rem'
      'search-input':
        '*':
          padding: '0 0 0 2rem'
        variations:
          'large':
            'padding': '0 0 0 2.9rem'
      'switch':
        '*':
          'width': '6rem'
        nested:
          'label':
            '*':
              'width': '5rem'
            variations:
              'left':
                'right': '1rem'
                'padding-left': '1.5rem'
              'right':
                'left': '1rem'
                'padding-left': '2rem'
          'toggle':
            '*':
              'width': '2rem'
              'margin-left': '-1.3rem'
            state:
              'checked':
                'margin-left': '2.7rem'
      'select':
          'padding': '0.7rem 1.4rem 0.7rem 1rem'
colorSchemes:
  '*':
    '*':
      'border-thickness': '1px'
    variations:
      'cta':
        '*':
          'color': 'hsla(0, 100%, 100%, 1)'
          'background-color': 'hsla(207, 74%, 52%, 1)'
          'border': '1px solid hsla(207, 74%, 29%, 1)'
          'box-shadow': 'inset 0 1px hsla(0, 100%, 100%, 0.36)'
          'text-shadow': '0 -1px hsla(0, 0%, 0%, 0.36)'
        states:
          'down':
            'background-color': 'hsla(206, 74%, 45%, 1)'
            'box-shadow': 'inset 0 1px hsla(0, 0%, 0%, 0.12)'
          'hover':
            'background-color': 'hsla(206, 74%, 60%, 1)';
  'dark':
    '*':
      'color': 'hsla(180, 2%, 78%, 1)'
      'background-color': 'hsla(180, 1%, 35%, 1)'
      'highlight-color': 'hsla(0, 100%, 100%, 1)'
      'shadow-color': 'hsla(0, 0%, 0%, 1)'
      'notification-color': 'hsla(1, 81%, 62%, 1)'
      'border-color': 'hsla(180, 1%, 20%, 1)'
      'border': [
        {colorScheme: '*', prop: 'border-thickness'}
        'solid'
        {colorScheme: 'dark', prop: 'border-color'}
      ]
      'box-shadow': [
        'inset 0'
        {colorScheme: '*', prop: 'border-thickness'}
        'hsla(0, 0%, 45%, 1)'
      ]
      'text-shadow' : '0 -1px hsla(0, 0%, 0%, 0.69)'
    variations:
      'body':
        'background': 'hsla(200, 2%, 30%, 1)'
      'highlight':
        'box-shadow': {colorScheme: 'dark', prop: 'text-shadow'}
    states:
      'down':
        'background-color': 'hsla(210, 2%, 25%, 1)'
        'box-shadow': [
          'inset 0'
          {colorScheme: '*', prop: 'border-thickness'}
          'hsla(0, 0%, 0%, 0.05)'
        ]
      'hover':
        'background-color': 'hsla(200, 2%, 39%, 1)'
    components:
      'input':
        'background-color': 'hsla(180, 1%, 27%, 1)'

    --border--focus: 1px solid hsla(227, 100%, 50%, 1);
    --box-shadow--focus: 0 0 0 2px hsla(208, 82%, 69%, 1);
  'light':
